In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [98]:
pd. __version__

'2.2.3'

In [82]:
df_orig = pd.read_csv("cbecs2018_final_public.csv")
df_orig.head()

,PUBID,REGION,CENDIV,PBA,PUBCLIM,SQFT,SQFTC,WLCNS,RFCNS,RFCOOL,...,ZMFBTU,ZMFEXP,ZELCNS,ZELEXP,ZNGCNS,ZNGEXP,ZFKCNS,ZFKEXP,ZDHBTU,ZDHEXP
0,1,3,5,2,3,210000,8,1,4,2,...,0,0,0,0,9,9,1,1,0,0
1,2,4,9,2,4,28000,5,1,6,1,...,0,0,0,0,0,0,9,9,9,9
2,3,3,5,8,4,2100,2,1,4,2,...,0,0,0,0,9,9,9,9,9,9
3,4,3,7,5,5,240000,8,2,6,1,...,0,0,0,0,1,1,9,9,9,9
4,5,1,2,5,3,295000,8,3,6,2,...,0,0,0,0,0,0,9,9,9,9

In [83]:
display(df_orig.loc[(df_orig['PUBID'] > 0) & (df_orig['PBA'] == 2) & (df_orig['PUBCLIM'] == 4) & (df_orig['SQFT'] > 0), ['PUBID', 'PBA']])

      PUBID  PBA
1         2    2
18       19    2
21       22    2
29       30    2
31       32    2
...     ...  ...
6377   6378    2
6399   6400    2
6406   6407    2
6429   6430    2
6433   6434    2

[326 rows x 2 columns]

In [84]:
df_wk = df_orig.copy()
df_wk.head(2)

,PUBID,REGION,CENDIV,PBA,PUBCLIM,SQFT,SQFTC,WLCNS,RFCNS,RFCOOL,...,ZMFBTU,ZMFEXP,ZELCNS,ZELEXP,ZNGCNS,ZNGEXP,ZFKCNS,ZFKEXP,ZDHBTU,ZDHEXP
0,1,3,5,2,3,210000,8,1,4,2,...,0,0,0,0,9,9,1,1,0,0
1,2,4,9,2,4,28000,5,1,6,1,...,0,0,0,0,0,0,9,9,9,9

#### creates df_wk dataset

In [85]:
df_wk = df_orig.iloc[:,[0,3,4,5,7,8,11,12,13,18,21,77,103,104,113,114,133,
    134,139,140,141,295,378,379,425,561,562,566,569,567,568,570,571]]
df_wk.head()

,PUBID,PBA,PUBCLIM,SQFT,WLCNS,RFCNS,BLDSHP,GLSSPC,NFLOOR,NELVTR,...,NGWATR,NGOTH,HDD65,CDD65,ELBTU,NGBTU,ELCNS,ELEXP,NGCNS,NGEXP
0,1,2,3,210000,1,4,6,3,994,8.0,...,2,2,4463,1759,18708970.0,NaN,5483285.0,775800.0,NaN,NaN
1,2,2,4,28000,1,6,11,3,5,1.0,...,1,2,2424,189,1528667.0,201988.0,448027.0,77933.0,1946.0,4097.0
2,3,8,4,2100,1,4,2,3,1,NaN,...,2,2,3218,2403,52387.0,NaN,15354.0,3472.0,NaN,NaN
3,4,5,5,240000,2,6,2,2,1,NaN,...,1,2,1045,3041,1974255.0,1211520.0,578621.0,41197.0,11672.0,9862.0
4,5,5,3,295000,3,6,1,1,1,NaN,...,2,2,5076,1316,1290564.0,3386445.0,378243.0,33688.0,32625.0,35297.0

#### commit

#### Add cold degree days (CDD) and hot degree days (HDD) low to high ranges and averages to df_wk.
- The code cell below creates the df_clim dataframe.
- The data is from "Climate Data for Building Design Standards".

In [86]:
data = {'PUBCLIM': [2, 3, 4],
        'CDD_LOW': [1800, 2700, 4500],
        'CDD_HI': [6300, 6300, 6300],
        'HDD_LOW': [5400, 3600, 1800],
        'HDD_HI': [7200, 5400, 3600],
        'CDD_AVG': [4050, 4500, 5400],
        'HDD_AVG': [6300, 4500, 2700]
        }

df_clim = pd.DataFrame(data)
print(df_clim)

   PUBCLIM  CDD_LOW  CDD_HI  HDD_LOW  HDD_HI  CDD_AVG  HDD_AVG
0        2     1800    6300     5400    7200     4050     6300
1        3     2700    6300     3600    5400     4500     4500
2        4     4500    6300     1800    3600     5400     2700

- This code cell joins the df_clim to df_wk using the common PUBCLIM column to align the rows based on the 2, 3, and 4 climate zones.

In [87]:
df_wk = pd.merge(df_wk, df_clim, on='PUBCLIM', how='left')
print(df_wk)

      PUBID  PBA  PUBCLIM    SQFT  WLCNS  RFCNS  BLDSHP  GLSSPC  NFLOOR  \
0         1    2        3  210000      1      4       6       3     994
1         2    2        4   28000      1      6      11       3       5
2         3    8        4    2100      1      4       2       3       1
3         4    5        5  240000      2      6       2       2       1
4         5    5        3  295000      3      6       1       1       1
...     ...  ...      ...     ...    ...    ...     ...     ...     ...
6431   6432   14        2  130000      1      1       2       3       3
6432   6433    1        4    1050      1      5       1       3       1
6433   6434    2        4  122000      2      6      11       5       5
6434   6435   23        4   15000      3      5       2       4       1
6435   6436   14        7  188000      1      6       4       2       7

      NELVTR  ...      ELCNS     ELEXP    NGCNS    NGEXP  CDD_LOW  CDD_HI  \
0        8.0  ...  5483285.0  775800.0      NaN      NaN   2700.0  6300.0
1        1.0  ...   448027.0   77933.0   1946.0   4097.0   4500.0  6300.0
2        NaN  ...    15354.0    3472.0      NaN      NaN   4500.0  6300.0
3        NaN  ...   578621.0   41197.0  11672.0   9862.0      NaN     NaN
4        NaN  ...   378243.0   33688.0  32625.0  35297.0   2700.0  6300.0
...      ...  ...        ...       ...      ...      ...      ...     ...
6431     1.0  ...   689577.0   72773.0  40083.0  24720.0   1800.0  6300.0
6432     NaN  ...        NaN       NaN      NaN      NaN   4500.0  6300.0
6433     2.0  ...  3445040.0  288738.0      NaN      NaN   4500.0  6300.0
6434     NaN  ...   281519.0   24644.0   2268.0   2038.0   4500.0  6300.0
6435     2.0  ...  3747787.0  208918.0      NaN      NaN      NaN     NaN

      HDD_LOW  HDD_HI  CDD_AVG  HDD_AVG
0      3600.0  5400.0   4500.0   4500.0
1      1800.0  3600.0   5400.0   2700.0
2      1800.0  3600.0   5400.0   2700.0
3         NaN     NaN      NaN      NaN
4      3600.0  5400.0   4500.0   4500.0
...       ...     ...      ...      ...
6431   5400.0  7200.0   4050.0   6300.0
6432   1800.0  3600.0   5400.0   2700.0
6433   1800.0  3600.0   5400.0   2700.0
6434   1800.0  3600.0   5400.0   2700.0
6435      NaN     NaN      NaN      NaN

[6436 rows x 39 columns]

#### end commit

#### commit

#### Filtered df_wk where the principle business activity (PBA) is 2 = office building, and the buildings are in climate zones PUBCLIM = 2 or 3 or 4.

In [88]:
df_wk_filtered = df_wk[(df_wk['PBA'] == 2) & (df_wk['PUBCLIM'].isin([2, 3, 4]))]
print(df_wk_filtered.shape)
print(df_wk_filtered)

(1018, 39)
      PUBID  PBA  PUBCLIM    SQFT  WLCNS  RFCNS  BLDSHP  GLSSPC  NFLOOR  \
0         1    2        3  210000      1      4       6       3     994
1         2    2        4   28000      1      6      11       3       5
12       13    2        3   30500      1      6       2       5       3
18       19    2        4  184000      1      6       3       3       3
20       21    2        3  240000      6      5       2       6       4
...     ...  ...      ...     ...    ...    ...     ...     ...     ...
6420   6421    2        3  430000      1      7       2       4     995
6421   6422    2        2  385000      1      2       5       5       4
6427   6428    2        2  265000      2      8       1       5     995
6429   6430    2        4   54000      1      6       2       3       3
6433   6434    2        4  122000      2      6      11       5       5

      NELVTR  ...      ELCNS     ELEXP     NGCNS    NGEXP  CDD_LOW  CDD_HI  \
0        8.0  ...  5483285.0  775800.0       NaN      NaN   2700.0  6300.0
1        1.0  ...   448027.0   77933.0    1946.0   4097.0   4500.0  6300.0
12       1.0  ...   200111.0   14249.0   14501.0   7140.0   2700.0  6300.0
18       3.0  ...  3046373.0  294586.0   57819.0  61657.0   4500.0  6300.0
20       4.0  ...  2800997.0  338196.0   72858.0  40230.0   2700.0  6300.0
...      ...  ...        ...       ...       ...      ...      ...     ...
6420     7.0  ...  4879395.0  517676.0       NaN      NaN   2700.0  6300.0
6421     5.0  ...  3712827.0  352176.0   85312.0  64654.0   1800.0  6300.0
6427     6.0  ...  2661136.0  196978.0  112456.0  40885.0   1800.0  6300.0
6429     2.0  ...  1114171.0   78057.0       NaN      NaN   4500.0  6300.0
6433     2.0  ...  3445040.0  288738.0       NaN      NaN   4500.0  6300.0

      HDD_LOW  HDD_HI  CDD_AVG  HDD_AVG
0      3600.0  5400.0   4500.0   4500.0
1      1800.0  3600.0   5400.0   2700.0
12     3600.0  5400.0   4500.0   4500.0
18     1800.0  3600.0   5400.0   2700.0
20     3600.0  5400.0   4500.0   4500.0
...       ...     ...      ...      ...
6420   3600.0  5400.0   4500.0   4500.0
6421   5400.0  7200.0   4050.0   6300.0
6427   5400.0  7200.0   4050.0   6300.0
6429   1800.0  3600.0   5400.0   2700.0
6433   1800.0  3600.0   5400.0   2700.0

[1018 rows x 39 columns]

- The row index was reset so the new index is sequencial.

In [89]:
# resetting the df_wk row index
df_wk_filtered = df_wk_filtered.reset_index()
print(df_wk_filtered.shape)
print(df_wk_filtered)

(1018, 40)
      index  PUBID  PBA  PUBCLIM    SQFT  WLCNS  RFCNS  BLDSHP  GLSSPC  \
0         0      1    2        3  210000      1      4       6       3
1         1      2    2        4   28000      1      6      11       3
2        12     13    2        3   30500      1      6       2       5
3        18     19    2        4  184000      1      6       3       3
4        20     21    2        3  240000      6      5       2       6
...     ...    ...  ...      ...     ...    ...    ...     ...     ...
1013   6420   6421    2        3  430000      1      7       2       4
1014   6421   6422    2        2  385000      1      2       5       5
1015   6427   6428    2        2  265000      2      8       1       5
1016   6429   6430    2        4   54000      1      6       2       3
1017   6433   6434    2        4  122000      2      6      11       5

      NFLOOR  ...      ELCNS     ELEXP     NGCNS    NGEXP  CDD_LOW  CDD_HI  \
0        994  ...  5483285.0  775800.0       NaN      NaN   2700.0  6300.0
1          5  ...   448027.0   77933.0    1946.0   4097.0   4500.0  6300.0
2          3  ...   200111.0   14249.0   14501.0   7140.0   2700.0  6300.0
3          3  ...  3046373.0  294586.0   57819.0  61657.0   4500.0  6300.0
4          4  ...  2800997.0  338196.0   72858.0  40230.0   2700.0  6300.0
...      ...  ...        ...       ...       ...      ...      ...     ...
1013     995  ...  4879395.0  517676.0       NaN      NaN   2700.0  6300.0
1014       4  ...  3712827.0  352176.0   85312.0  64654.0   1800.0  6300.0
1015     995  ...  2661136.0  196978.0  112456.0  40885.0   1800.0  6300.0
1016       3  ...  1114171.0   78057.0       NaN      NaN   4500.0  6300.0
1017       5  ...  3445040.0  288738.0       NaN      NaN   4500.0  6300.0

      HDD_LOW  HDD_HI  CDD_AVG  HDD_AVG
0      3600.0  5400.0   4500.0   4500.0
1      1800.0  3600.0   5400.0   2700.0
2      3600.0  5400.0   4500.0   4500.0
3      1800.0  3600.0   5400.0   2700.0
4      3600.0  5400.0   4500.0   4500.0
...       ...     ...      ...      ...
1013   3600.0  5400.0   4500.0   4500.0
1014   5400.0  7200.0   4050.0   6300.0
1015   5400.0  7200.0   4050.0   6300.0
1016   1800.0  3600.0   5400.0   2700.0
1017   1800.0  3600.0   5400.0   2700.0

[1018 rows x 40 columns]

#### end commit

#### commit

#### Data summary.

In [109]:
def run_sumarize(df):
    print('The number of rows and columns is:')
    print(df.shape)
    print('\nListing of all columns and information about them is:')
    print(df.info())
    print('\nThe number of rows w/ null values in each column is:')
    print(df.isnull().sum())
    print('\nThe basic statistic and descriptive values for the selected columns are: ')
    print(df[['SQFT', 'ELCNS', 'NGCNS']].describe().round(2))
    
run_sumarize(df_wk_filtered)

The number of rows and columns is:
(1018, 40)

Listing of all columns and information about them is:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018 entries, 0 to 1017
Data columns (total 40 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      1018 non-null   int64
 1   PUBID      1018 non-null   int64
 2   PBA        1018 non-null   int64
 3   PUBCLIM    1018 non-null   int64
 4   SQFT       1018 non-null   int64
 5   WLCNS      1018 non-null   int64
 6   RFCNS      1018 non-null   int64
 7   BLDSHP     1018 non-null   int64
 8   GLSSPC     1018 non-null   int64
 9   NFLOOR     1018 non-null   int64
 10  NELVTR     1018 non-null   float64
 11  YRCONC     1018 non-null   int64
 12  WKHRSC     1018 non-null   int64
 13  ELHT1      1018 non-null   int64
 14  NGHT1      1018 non-null   int64
 15  ELHT2      1018 non-null   int64
 16  NGHT2      1018 non-null   int64
 17  BOILER_EL  583 non-null    float64
 18  HTPMPH_EL  583 non-null    float64
 19  OTHTEQ_EL  583 non-null    float64
 20  PKGHT_NG   573 non-null    float64
 21  BOILER_NG  573 non-null    float64
 22  ELCOOL     1018 non-null   int64
 23  ELWATR     1018 non-null   int64
 24  NGWATR     1018 non-null   int64
 25  NGOTH      1018 non-null   int64
 26  HDD65      1018 non-null   int64
 27  CDD65      1018 non-null   int64
 28  ELBTU      1018 non-null   float64
 29  NGBTU      692 non-null    float64
 30  ELCNS      1018 non-null   float64
 31  ELEXP      1018 non-null   float64
 32  NGCNS      1018 non-null   float64
 33  NGEXP      692 non-null    float64
 34  CDD_LOW    1018 non-null   float64
 35  CDD_HI     1018 non-null   float64
 36  HDD_LOW    1018 non-null   float64
 37  HDD_HI     1018 non-null   float64
 38  CDD_AVG    1018 non-null   float64
 39  HDD_AVG    1018 non-null   float64
dtypes: float64(18), int64(22)
memory usage: 318.3 KB
None

The number of rows w/ null values in each column is:
index          0
PUBID          0
PBA            0
PUBCLIM        0
SQFT           0
WLCNS          0
RFCNS          0
BLDSHP         0
GLSSPC         0
NFLOOR         0
NELVTR         0
YRCONC         0
WKHRSC         0
ELHT1          0
NGHT1          0
ELHT2          0
NGHT2          0
BOILER_EL    435
HTPMPH_EL    435
OTHTEQ_EL    435
PKGHT_NG     445
BOILER_NG    445
ELCOOL         0
ELWATR         0
NGWATR         0
NGOTH          0
HDD65          0
CDD65          0
ELBTU          0
NGBTU        326
ELCNS          0
ELEXP          0
NGCNS          0
NGEXP        326
CDD_LOW        0
CDD_HI         0
HDD_LOW        0
HDD_HI         0
CDD_AVG        0
HDD_AVG        0
dtype: int64

The basic statistic and descriptive values for the selected columns are:
             SQFT        ELCNS      NGCNS
count     1018.00      1018.00    1018.00
mean    175484.75   2600291.00   26280.17
std     204035.41   3704654.05   39982.55
min       1001.00      3342.00       1.00
25%      14500.00    147692.50    6109.50
50%     102000.00   1213733.50   20325.00
75%     250000.00   3577499.00   20325.00
max    1000000.00  37158137.00  421080.00

In [ ]:
def run_value_counts(df):
    print('The number of responses for each climate zone catagory is:')
    print(df['PUBCLIM'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for each building shape catagory is:')
    print(df['BLDSHP'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for each exterior glass percent catagory is:')
    print(df['GLSSPC'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for number of elevators is:')
    print(df['NELVTR'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for each construction year catagory is:')
    print(df['YRCONC'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for each weekly building hours open catagory is:')
    print(df['WKHRSC'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for main heating by electricity is:')
    print(df['ELHT1'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for main heating by natural gas is:')
    print(df['NGHT1'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for air conditioning by electricity is:')
    print(df['ELCOOL'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for water heating by electricity is:')
    print(df['ELWATR'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for water heating by electricity is:')
    print(df['NGWATR'].value_counts().sort_values(ascending=False))
    print('\nThe number of responses for number of floors catagory is:')
    print(df['NFLOOR'].value_counts().sort_values(ascending=False))
run_value_counts(df_wk_filtered)

The number of responses for each climate zone catagory is:
PUBCLIM
3    410
4    326
2    282
Name: count, dtype: int64

The number of responses for each building shape catagory is:
BLDSHP
2     588
1     141
11     71
9      64
3      47
4      35
6      31
5      19
8      13
7       6
10      3
Name: count, dtype: int64

The number of responses for each exterior glass percent catagory is:
GLSSPC
3    327
4    247
2    181
5    145
6     69
1     49
Name: count, dtype: int64

The number of responses for number of elevators = 1 - 30, and > 30 catagories is:
NELVTR
1.0      461
2.0      117
3.0       96
4.0       61
6.0       61
5.0       50
7.0       31
8.0       22
10.0      22
9.0       20
12.0      17
11.0      14
14.0      12
13.0       8
17.0       5
15.0       5
16.0       4
18.0       3
22.0       2
19.0       2
20.0       2
28.0       1
25.0       1
995.0      1
Name: count, dtype: int64

The number of responses for each construction year catagory is:
YRCONC
6    235
8    167
2    156
7    151
5    130
4     91
3     45
9     43
Name: count, dtype: int64

The number of responses for each weekly building hours open catagory is:
WKHRSC
4    374
3    264
5    160
7    113
2     69
6     38
Name: count, dtype: int64

The number of responses for main heating by electricity is:
ELHT1
2    612
1    406
Name: count, dtype: int64

The number of responses for main heating by natural gas is:
NGHT1
2    529
1    489
Name: count, dtype: int64

The number of responses for air conditioning by electricity is:
ELCOOL
1    969
2     49
Name: count, dtype: int64

The number of responses for water heating by electricity is:
ELWATR
1    603
2    415
Name: count, dtype: int64

The number of responses for water heating by electricity is:
NGWATR
2    567
1    451
Name: count, dtype: int64

The number of responses for number of floors catagory is:
NFLOOR
1      206
2      170
3      131
995    125
994    102
4       87
5       67
6       46
7       31
8       29
9       24
Name: count, dtype: int64

#### Data clean up.

##### The formula below calculates a fill-in value for the rows with missing data in HGCNS column.  See describe() output at the end of the run_sumarize function.  
- The mean of the existing values is much higher than the 50% percentile (median) value.
- This means the distribution of the values is skewed higher than the median value.
- I chose a value between the mean and median due to the mean being so much higher than the median value.

In [ ]:
# fillna value for NGCNS missing values
mean = 29085
median = 11565
result = ((mean - median) / 2) + median
print(result)

- NGCNS (annual natural gas used) and NELVTR (number of elevators) fillna values to replace missing values.
- The fillna value for the NELVTR missing data cells was the most used value.

In [ ]:
# fillna value into the missing value cells
# a Pandas FutureWarning message will appear as output 
df_wk_filtered['NGCNS'].fillna(20325, inplace=True)

In [ ]:
# fillna value for NELVTR
# a Pandas FutureWarning message will appear as output 
df_wk_filtered['NELVTR'].fillna(1, inplace=True)

- Verify the fillna values were successfully replaced.

In [ ]:
# verify missing values have been replaced.
print('The number of rows and columns is:')
print(df_wk_filtered.shape)
print('\nThe number of rows w/ null values in each column is:')
print(df_wk_filtered[['NGCNS','NELVTR']].isnull().sum())

#### end commit

#### create calc'd columns

# funtion to create the calculate the CDD_RANGE
def calc_cdd_range(row):
  """Calculates the CDD_range value for a row.
  Args:
    row: A row of the DataFrame.
  Returns:
    'yes' if CDD_LOW <= CDD65 <= CDD_HI, otherwise 'no'.
  """
  if row['CDD_LOW'] <= row['CDD65'] <= row['CDD_HI']:
    return 'yes'
  else:
    return 'no'

# function is applied to df_wk_clean to create the new column
df_wk_filtered['CDD_RANGE'] = df_wk_filtered.apply(calculate_cdd_range, axis=1)

In [107]:
column = df_wk_filtered['NELVTR']
print(column)

0       8.0
1       1.0
2       1.0
3       3.0
4       4.0
       ...
1013    7.0
1014    5.0
1015    6.0
1016    2.0
1017    2.0
Name: NELVTR, Length: 1018, dtype: float64