# capstone_final.ipynb

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [ ]:
df_orig = pd.read_csv("cbecs2018_final_public.csv")
df_orig.head()

In [14]:
df_wk = df_orig.iloc[:,[0,3,4,5,7,8,11,12,18,21,77,103,104,113,114,133,
    134,139,140,141,295,378,379,425,566,569,567,568,570,571,13]]
df_wk.head()

,PUBID,PBA,PUBCLIM,SQFT,WLCNS,RFCNS,BLDSHP,GLSSPC,NELVTR,YRCONC,...,ELWATR,NGWATR,NGOTH,ELBTU,NGBTU,ELCNS,ELEXP,NGCNS,NGEXP,NFLOOR
0,1,2,3,210000,1,4,6,3,8.0,2,...,2,2,2,18708970.0,NaN,5483285.0,775800.0,NaN,NaN,994
1,2,2,4,28000,1,6,11,3,1.0,6,...,2,1,2,1528667.0,201988.0,448027.0,77933.0,1946.0,4097.0,5
2,3,8,4,2100,1,4,2,3,NaN,6,...,1,2,2,52387.0,NaN,15354.0,3472.0,NaN,NaN,1
3,4,5,5,240000,2,6,2,2,NaN,9,...,2,1,2,1974255.0,1211520.0,578621.0,41197.0,11672.0,9862.0,1
4,5,5,3,295000,3,6,1,1,NaN,4,...,1,2,2,1290564.0,3386445.0,378243.0,33688.0,32625.0,35297.0,1